

<div class="row">
<div class= "span10">
  <hr>
  <hr>  
  
  <div class = >
    <div class="row well ">
      <div class="span3 ">
      
        <button type="button" class="btn btn-primary btn-default">Add New Business</button>
      </div>
       <div class="span3">
         <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter Business Name To Search">
       </div>
        <div class="span3">
          <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter Business ID">
        </div>
    </div>
 
    <div class = "row ">
      <div class = "span3"><h4>Bussines ID - 123</h4></div>
    </div>
  
    <div class="row well">
      <div class="span3">
      
     
        <input type="text" class="form-control" id="InfoBox1" placeholder="Information Box 1">
        <input type="text" class="form-control" id="InfoBox2" placeholder="Information Box 2">
        <input type="text" class="form-control" id="InfoBox3" placeholder="Information Box 3">
        <input type="text" class="form-control" id="InfoBox4" placeholder="Information Box 4">
      </div>
    
      <div class="span3">
    
        <input type="text" class="form-control" id="Description1" placeholder="Description">
         <input type="text" class="form-control" id="Description2" placeholder="Description">
          <input type="text" class="form-control" id="Description3" placeholder="Description">
           <input type="text" class="form-control" id="Description4" placeholder="Description">
         
      </div>
      <div class="span3">
     
        <input type="text" class="form-control" id="Price1" placeholder="Price">
        <input type="text" class="form-control" id="Price2" placeholder="Price">
        <input type="text" class="form-control" id="Price3" placeholder="Price">
        <input type="text" class="form-control" id="Price4" placeholder="Price">      
      </div>
    </div>
  
  
    <div class="row  ">
      <div class="span9"><center><button type="button" class="btn btn-primary btn-default">Apply Changes</button></center></div>
     
    </div>
   
  </div>
  
</div>
</div>
<hr>



